<!doctype html>
<html>
  <head>
    <link href="/skalene.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body class="sk-body">
    <div id="app">
      <header class="sk-header">
        <h1 class="sk-header__title">Level Meter</h1>
      </header>

      <main class="sk-app__main sk--centre-panel-xl sk--flex sk--flex-vertical sk--flex-gap">
        <section class="sk-notice sk-notice--problem sk--content" v-if="!isSerialSupported">
          <h2 class="sk-notice__headline">Serial is not supported.</h2>
          <p class="sk-notice__details">This app needs to connect to a serial port, but this browser does not support connecting to serial ports.</p>
          <p class="sk-notice__details">Use a browser that supports serial connections. For example, the latest Microsoft Edge.</p>
        </section>

        <section class="sk-panel">
          <div class="sk-panel__header sk--flex sk--flex-space-between-items sk--flex-vertical-centre-items">
            <h2 class="sk-panel__title sk--flex-auto">Serial port</h2>
            <div>
              <button v-on:click="connect" class="sk-button sk-button--secondary">connect</button>
            </div>
          </div>
          <div class="sk-panel__body">
            <serial-port-details
              v-if="serialPort"
              v-bind:port="serialPort"
            ></serial-port-details>
            <div v-if="!serialPort" class="sk-panel__empty">No serial port connected</div>
          </div>
        </section>

        <section class="sk-panel">
          <div class="sk-panel__header">
            <h2 class="sk-panel__title">Config</h2>
          </div>
          <div class="sk-panel__body">
            <form>
              <div class="sk-form-group">
                <label class="sk-label" for="window_size">window size</label>
                <div class="sk-input__wrapper">
                  <input id="window_size" name="window_size" spellcheck="false" class="sk-input sk--width-4rem">
                  <div class="sk-input__suffix" aria-hidden="true">
                    <span class="sk-input__fix-text">ms</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </main>
    </div>
    <script src="app.js"></script>
  </body>
</html>
