:root {
	--primary-bg: #fff;
	--primary-fg: #000;
	--primary-shadow: rgba(0, 0, 0, 0.2);
	--secondary-bg: #eeedec;
	--secondary-fg: #4b4540;
	--secondary-shadow: rgba(0, 0, 0, 0.05);
	--secondary-hover-bg: #ddd;
	--secondary-hover-fg: #222;
	--focus-bg: #ff650c;
	--focus-fg: #fff;
	--success-bg: #129e06;
	--success-fg: #fff;
	--problem-bg: #9e0612;
	--problem-fg: #F5E6E7;
	--danger-bg: #9e0612;
	--danger-fg: #F5E6E7;
	--danger-shadow: #5e030a;
	--danger-hover-bg: #8e0510;
}

.sk-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.sk-header {
  padding: 1rem;
  background: darkslateblue;
  color: white;
}

.sk-header__title {
  margin: 0;
  font-size: 2rem;
}

.sk-app__main {
  padding: 1rem;
}

.sk-notice {
  padding: 1rem;
  max-width: 40rem;
}

.sk-notice :last-child {
  margin-bottom: 0;
}

.sk-notice__headline {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}

.sk-notice__details {
  font-size: 1rem;
}

.sk-notice--problem {
  background: var(--problem-bg);
  color: var(--problem-fg);
}

.sk-panel {
  border: 1px solid var(--primary-shadow);
  border-radius: 6px;
}

.sk-panel__header {
  margin: -1px -1px 0;
  padding: 0.5rem;
  border: 1px solid var(--primary-shadow);
  border-radius: 6px 6px 0 0;
  background: var(--secondary-bg);
  color: var(--secondary-fg);
}

.sk-panel__title {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

.sk-button {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.3;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.sk-button:focus {
  outline: 2px solid var(--focus-bg);
  border-color: var(--focus-bg);
}

.sk-button:active {
  filter: brightness(0.8);
}

.sk-button--secondary {
  color: var(--secondary-fg);
  background: var(--secondary-bg);
}

.sk-button--secondary:hover {
  color: var(--secondary-hover-fg);
  background: var(--secondary-hover-bg);
}

.sk--centre-panel-xl {
  margin: 0 auto;
  max-width: 80rem;
}

.sk--flex {
  display: flex;
}

.sk--flex-vertical {
  flex-direction: column;
}

.sk--flex-gap {
  gap: 1rem;
}

.sk--flex-auto {
  flex: auto;
}

.sk--flex-space-between-items {
  justify-content: space-between;
}

.sk--flex-vertical-centre-items {
  align-items: center;
}
